 body {
  text-align:center;
  font-size:30px;
  font-family: 'Raleway','Lato', sans-serif;
 }
 h1 {
  font-weight:300;
  font-size:4em;
   }
   p{

    display: inline-block;
    vertical-align: top;
   }
   .para{
font-weight:100;
display: table-cell;
vertical-align: middle;

  text-align:center;
   }
 .column {
  float: center;
  width: 100%;
  overflow: hidden;
  height:90vh;
}
 input {
  float: center;
  width: auto;
  overflow: hidden;
  height:21vh;
}
.store{

  padding-bottom:10vh;
}
.text{
  height:50vh;
  width:100%;
  display: table;
  overflow: hidden;
  text-align:center;
}
/* Clear floats after the columns */

@media screen and (max-width: 700px) {
  h1 {
    font-size:2em;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width:100%;
max-height:100%;
}